[submodule "themes/minimal"]
	path = themes/minimal
	url = https://github.com/calintat/minimal.git
[submodule "sinsentido.github.io"]
	path = sinsentido.github.io
	url = git@github.com:sinsentido/sinsentido.github.io.git
